openapi: 3.1.0
info:
  title: Method API
  version: '2025-12-01'
  license:
    name: Proprietary
    url: https://methodfi.com
  description: |
    The Method API enables you to retrieve financial data, create payments, and manage
    entities and accounts programmatically. This specification covers the public API
    surface for version `2025-12-01`.

    ## Authentication

    Most API requests require a Bearer token in the `Authorization` header.
    Use your secret key (`sk_...`) for server-side requests and public key (`pk_...`)
    for client-side Element requests. Public Message-Level Encryption key discovery
    endpoints are documented separately and do not require authentication.

    ## Versioning

    The API version is selected via the `Method-Version` header. This spec targets
    version `2025-12-01`. The SDK sets this header automatically.

    ## Response Envelope

    Most JSON responses are wrapped in a standard envelope:

    ```json
    {
      "success": true,
      "data": { ... },
      "message": null
    }
    ```

    The `/.well-known/jwks.json` endpoint is an exception and returns a bare JWK set.

    ## Pagination

    List endpoints return pagination metadata in response headers:
    `Pagination-Page`, `Pagination-Page-Count`, `Pagination-Page-Limit`,
    `Pagination-Total-Count`, `Pagination-Page-Cursor-Prev`, `Pagination-Page-Cursor-Next`.

    ## Expandable Fields

    Certain resource fields can be expanded from IDs to full objects using the
    `expand` query parameter. Maximum nesting depth is 4 levels.
  contact:
    name: Method Financial
    url: https://methodfi.com
    email: team@methodfi.com
servers:
  - url: https://production.methodfi.com
    description: Production
  - url: https://sandbox.methodfi.com
    description: Sandbox
  - url: https://dev.methodfi.com
    description: Development
security:
  - SecretKey: []
tags:
  - name: Public Keys
    description: Public key discovery endpoints for Message-Level Encryption.
  - name: Ping
    description: Health check endpoint
  - name: Accounts
    description: Financial accounts (ACH, liability, clearing, debit card)
  - name: Account Attributes
    description: Attribute data for accounts
  - name: Account Balances
    description: Balance data for accounts
  - name: Account Card Brands
    description: Card brand information for accounts
  - name: Account Consent
    description: Consent management for accounts
  - name: Account Payment Instruments
    description: Payment instruments for accounts
  - name: Account Payoffs
    description: Payoff data for accounts
  - name: Account Products
    description: Products associated with accounts
  - name: Account Sensitive
    description: Sensitive data for accounts
  - name: Account Subscriptions
    description: Subscriptions for accounts
  - name: Account Transactions
    description: Transactions for accounts
  - name: Account Updates
    description: Update records for accounts
  - name: Account Verification Sessions
    description: Verification sessions for accounts
  - name: Card Products
    description: Card product definitions
  - name: Entities
    description: Individuals, corporations, and receive-only entities
  - name: Entity Attributes
    description: Attribute data for entities
  - name: Entity Connects
    description: Account connection sessions for entities
  - name: Entity Consent
    description: Consent management for entities
  - name: Entity Credit Scores
    description: Credit score data for entities
  - name: Entity Identities
    description: Identity verification data for entities
  - name: Entity Products
    description: Products associated with entities
  - name: Entity Subscriptions
    description: Subscriptions for entities
  - name: Entity Vehicles
    description: Vehicle data for entities
  - name: Entity Verification Sessions
    description: Verification sessions for entities
  - name: Events
    description: Webhook event log
  - name: Forwarding Requests
    description: Request forwarding with sensitive data injection
  - name: Managed Accounts
    description: Method-managed accounts
  - name: Merchants
    description: Merchant directory
  - name: Payments
    description: ACH and clearing payments
  - name: Payment Reversals
    description: Reversals for payments
  - name: Reports
    description: Downloadable reports
  - name: Secrets
    description: Secure secret storage
  - name: Teams
    description: Team and API key management
  - name: Webhooks
    description: Webhook subscriptions
  - name: Simulate Accounts
    description: Sandbox account simulation
  - name: Simulate Entities
    description: Sandbox entity simulation
  - name: Simulate Events
    description: Sandbox event simulation
  - name: Simulate Payments
    description: Sandbox payment simulation
  - name: Opal
    description: Opal client-side session and token management
  - name: Elements
    description: Client-side Element endpoints
paths:
  /.well-known/jwks.json:
    get:
      operationId: listPublicJwks
      summary: List public JWKs
      description: Returns the currently active Method public keys for Message-Level Encryption.
      tags:
        - Public Keys
      security: []
      responses:
        '200':
          description: Public JWK set for Method encryption.
          headers:
            Cache-Control:
              description: Caching directive for the public JWK set.
              schema:
                type: string
                example: public, max-age=3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WellKnownJwksResponse'
              example:
                keys:
                  - kid: mthd_jwk_abc123
                    kty: RSA
                    alg: RSA-OAEP-256
                    use: enc
                    'n': sXchf3Hj7G6m1mQF2k38QeY7s9lQfV4sLzM0YJr7Q7B6U2CjQX8m5w
                    e: AQAB
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/{jwk_id}:
    get:
      operationId: retrievePublicJwk
      summary: Retrieve a public JWK
      description: Returns a single Method public key by identifier for Message-Level Encryption.
      tags:
        - Public Keys
      security: []
      parameters:
        - $ref: '#/components/parameters/MethodJwkIdParam'
      responses:
        '200':
          description: The requested public JWK.
          headers:
            Cache-Control:
              description: Caching directive for the public JWK.
              schema:
                type: string
                example: public, max-age=3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodPublicKeyResponse'
              example:
                success: true
                data:
                  id: mthd_jwk_abc123
                  jwk:
                    kid: mthd_jwk_abc123
                    kty: RSA
                    alg: RSA-OAEP-256
                    use: enc
                    'n': sXchf3Hj7G6m1mQF2k38QeY7s9lQfV4sLzM0YJr7Q7B6U2CjQX8m5w
                    e: AQAB
                  jwk_thumbprint: qn0x2fG8X0F9S9RzM1Tq8vQw8ap8T7iWmS0o9C9y4Lw
                  status: active
                  created_at: '2026-01-15T18:30:00.000Z'
                  updated_at: '2026-01-15T18:30:00.000Z'
                message: null
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /ping:
    get:
      operationId: ping
      summary: Health check
      description: Returns a simple health check response for authenticated API clients.
      tags:
        - Ping
      parameters:
        - $ref: '#/components/parameters/method_version'
      responses:
        '200':
          description: Successful health check.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                  - message
                properties:
                  success:
                    type: boolean
                    description: Always `true` for successful responses.
                  data:
                    type: string
                    enum:
                      - pong
                  message:
                    type:
                      - string
                      - 'null'
              example:
                success: true
                data: pong
                message: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts:
    get:
      operationId: listAccounts
      summary: List all accounts
      description: Returns a paginated list of accounts. Results can be filtered by status, type, holder, and date range.
      tags:
        - Accounts
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
        - name: status
          in: query
          required: false
          description: Filter accounts by status.
          schema:
            type: string
            enum:
              - active
              - disabled
        - name: type
          in: query
          required: false
          description: Filter accounts by type.
          schema:
            type: string
            enum:
              - ach
              - liability
              - clearing
              - debit_card
        - name: consent_status
          in: query
          required: false
          description: Filter accounts by consent status.
          schema:
            type: string
            enum:
              - pending
              - withdrawn
              - approved
        - name: holder_id
          in: query
          required: false
          description: Filter accounts by the entity ID that owns them.
          schema:
            type: string
            pattern: ^ent_\w+$
        - name: holder_ids
          in: query
          required: false
          description: Filter accounts by one or more entity IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              pattern: ^ent_\w+$
        - name: include_pending_consent
          in: query
          required: false
          description: Include accounts that are still pending consent.
          schema:
            type: boolean
        - name: liability.mch_id
          in: query
          required: false
          description: Filter liability accounts by merchant ID.
          schema:
            type: string
            pattern: ^mch_\w+$
        - name: liability.type
          in: query
          required: false
          description: Filter liability accounts by liability type.
          schema:
            type: string
            enum:
              - credit_card
              - auto_loan
              - mortgage
              - personal_loan
              - student_loan
              - student_loans
              - collection
              - credit_builder
              - insurance
              - loan
              - medical
              - utility
              - bnpl
              - fintech
        - name: liability.ownership
          in: query
          required: false
          description: Filter liability accounts by ownership type.
          schema:
            type: string
            enum:
              - primary
              - authorized
              - joint
              - unknown
        - $ref: '#/components/parameters/expand_accounts'
      responses:
        '200':
          description: A paginated list of accounts.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccount
      summary: Create an account
      description: Creates a new account for the specified entity. The request body must include exactly one of `ach`, `liability`, `clearing`, or `debit_card` to determine the account type.
      tags:
        - Accounts
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            examples:
              ach:
                summary: Create an ACH account
                value:
                  type: ach
                  holder_id: ent_au22b1fbFJbp8
                  ach:
                    routing: '111000025'
                    number: '000123456789'
                    type: checking
                  metadata:
                    customer_reference: acct-001
              liability:
                summary: Create a liability account
                value:
                  type: liability
                  holder_id: ent_au22b1fbFJbp8
                  liability:
                    mch_id: mch_4c1j9e4t4R8Qd
                    account_number: '4111111111111111'
                  metadata:
                    portfolio: cards
              debit_card:
                summary: Create a debit card account
                value:
                  type: debit_card
                  holder_id: ent_au22b1fbFJbp8
                  debit_card:
                    number: '4111111111111111'
                    exp_month: '12'
                    exp_year: 2028
                    cvv: '123'
                    billing_zip_code: '78701'
      responses:
        '200':
          description: The newly created account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
              example:
                success: true
                data:
                  id: acc_b9q2XVAnNFbp3
                  holder_id: ent_au22b1fbFJbp8
                  type: ach
                  status: active
                  consent_status: approved
                  ach:
                    routing: '111000025'
                    number: '000123456789'
                    type: checking
                  liability: null
                  clearing: null
                  debit_card: null
                  capabilities: []
                  available_capabilities:
                    - payments:send
                    - payments:receive
                  error: null
                  metadata:
                    customer_reference: acct-001
                  products: []
                  restricted_products: []
                  subscriptions: []
                  available_subscriptions: []
                  restricted_subscriptions: []
                  latest_verification_session: null
                  balance: null
                  payoff: null
                  payment_instrument: null
                  card_brand: null
                  update: null
                  attribute: null
                  sensitive: null
                  created_at: '2026-01-15T18:30:00.000Z'
                  updated_at: '2026-01-15T18:30:00.000Z'
                message: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}:
    get:
      operationId: retrieveAccount
      summary: Retrieve an account
      description: Retrieves an account by its unique identifier.
      tags:
        - Accounts
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/expand_accounts'
      responses:
        '200':
          description: The requested account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateAccount
      summary: Update an account
      description: Updates an account's metadata or liability account number.
      tags:
        - Accounts
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              metadata:
                summary: Update account metadata
                value:
                  metadata:
                    servicing_tier: gold
              liability:
                summary: Update a liability account number
                value:
                  liability:
                    credit_card:
                      number: '5555444433331111'
      responses:
        '200':
          description: Account updated successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                  - message
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: 'null'
                    example: null
                  message:
                    type:
                      - 'null'
                      - string
                    example: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/attributes:
    get:
      operationId: listAccountAttributes
      summary: List all account attributes
      description: Returns a list of attributes for the specified account.
      tags:
        - Account Attributes
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account attributes.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAttributeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountAttribute
      summary: Create an account attribute
      description: Creates a new attribute request for the specified account.
      tags:
        - Account Attributes
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: The newly created account attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/attributes/{accAttrId}:
    get:
      operationId: retrieveAccountAttribute
      summary: Retrieve an account attribute
      description: Retrieves an account attribute by its unique identifier.
      tags:
        - Account Attributes
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountAttributeIdParam'
      responses:
        '200':
          description: The requested account attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/balances:
    get:
      operationId: listAccountBalances
      summary: List all account balances
      description: Returns a list of balance records for the specified account.
      tags:
        - Account Balances
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account balances.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountBalance
      summary: Create an account balance
      description: Triggers a balance sync for the specified account and returns the new balance record.
      tags:
        - Account Balances
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: The newly created account balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/balances/{balId}:
    get:
      operationId: retrieveAccountBalance
      summary: Retrieve an account balance
      description: Retrieves an account balance by its unique identifier.
      tags:
        - Account Balances
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountBalanceIdParam'
      responses:
        '200':
          description: The requested account balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/card_brands:
    get:
      operationId: listAccountCardBrands
      summary: List all account card brands
      description: Returns a list of card brand records for the specified account.
      tags:
        - Account Card Brands
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account card brands.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCardBrandListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountCardBrand
      summary: Create an account card brand
      description: Creates a new card brand lookup for the specified account.
      tags:
        - Account Card Brands
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: The newly created account card brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCardBrandResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/card_brands/{cbrdId}:
    get:
      operationId: retrieveAccountCardBrand
      summary: Retrieve an account card brand
      description: Retrieves an account card brand by its unique identifier.
      tags:
        - Account Card Brands
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountCardBrandIdParam'
      responses:
        '200':
          description: The requested account card brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCardBrandResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/consent:
    post:
      operationId: updateAccountConsent
      summary: Update account consent
      description: Grants or withdraws consent for data access on the specified account.
      tags:
        - Account Consent
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConsentUpdateRequest'
            example:
              type: withdraw
              reason: holder_withdrew_consent
      responses:
        '200':
          description: The updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/payment_instruments:
    get:
      operationId: listAccountPaymentInstruments
      summary: List all account payment instruments
      description: Returns a list of payment instruments for the specified account.
      tags:
        - Account Payment Instruments
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account payment instruments.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentInstrumentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountPaymentInstrument
      summary: Create an account payment instrument
      description: Creates a new payment instrument for the specified account.
      tags:
        - Account Payment Instruments
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPaymentInstrumentCreateRequest'
      responses:
        '200':
          description: The newly created account payment instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentInstrumentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/payment_instruments/{pmtInsId}:
    get:
      operationId: retrieveAccountPaymentInstrument
      summary: Retrieve an account payment instrument
      description: Retrieves an account payment instrument by its unique identifier.
      tags:
        - Account Payment Instruments
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountPaymentInstrumentIdParam'
      responses:
        '200':
          description: The requested account payment instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentInstrumentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: closeAccountPaymentInstrument
      summary: Close an account payment instrument
      description: Closes an account payment instrument. This endpoint is only available starting with API version `2025-12-01`.
      tags:
        - Account Payment Instruments
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountPaymentInstrumentIdParam'
      responses:
        '200':
          description: The closed account payment instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentInstrumentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/payoffs:
    get:
      operationId: listAccountPayoffs
      summary: List all account payoffs
      description: Returns a list of payoff records for the specified account.
      tags:
        - Account Payoffs
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account payoffs.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPayoffListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountPayoff
      summary: Create an account payoff
      description: Triggers a payoff sync for the specified account and returns the new payoff record.
      tags:
        - Account Payoffs
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: The newly created account payoff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPayoffResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/payoffs/{pyfId}:
    get:
      operationId: retrieveAccountPayoff
      summary: Retrieve an account payoff
      description: Retrieves an account payoff by its unique identifier.
      tags:
        - Account Payoffs
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountPayoffIdParam'
      responses:
        '200':
          description: The requested account payoff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPayoffResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/products:
    get:
      operationId: listAccountProducts
      summary: List all account products
      description: Returns a list of products for the specified account.
      tags:
        - Account Products
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: A list of account products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProductListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/products/{prdId}:
    get:
      operationId: retrieveAccountProduct
      summary: Retrieve an account product
      description: Retrieves an account product by its unique identifier.
      tags:
        - Account Products
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountProductIdParam'
      responses:
        '200':
          description: The requested account product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProductResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/sensitive:
    get:
      operationId: listAccountSensitives
      summary: List all account sensitive records
      description: Returns a list of sensitive data records for the specified account.
      tags:
        - Account Sensitive
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account sensitive records.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSensitiveListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountSensitive
      summary: Create an account sensitive record
      description: Creates a new sensitive data request for the specified account.
      tags:
        - Account Sensitive
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSensitiveCreateRequest'
      responses:
        '200':
          description: The newly created account sensitive record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSensitiveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/sensitive/{astvId}:
    get:
      operationId: retrieveAccountSensitive
      summary: Retrieve an account sensitive record
      description: Retrieves an account sensitive record by its unique identifier.
      tags:
        - Account Sensitive
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountSensitiveIdParam'
      responses:
        '200':
          description: The requested account sensitive record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSensitiveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/subscriptions:
    get:
      operationId: listAccountSubscriptions
      summary: List all account subscriptions
      description: Returns a list of subscriptions for the specified account.
      tags:
        - Account Subscriptions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: A list of account subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountSubscription
      summary: Create an account subscription
      description: Creates a new subscription for the specified account.
      tags:
        - Account Subscriptions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSubscriptionCreateRequest'
      responses:
        '200':
          description: The newly created account subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/subscriptions/{subId}:
    get:
      operationId: retrieveAccountSubscription
      summary: Retrieve an account subscription
      description: Retrieves an account subscription by its unique identifier.
      tags:
        - Account Subscriptions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountSubscriptionIdParam'
      responses:
        '200':
          description: The requested account subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteAccountSubscription
      summary: Delete an account subscription
      description: Deletes an account subscription.
      tags:
        - Account Subscriptions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountSubscriptionIdParam'
      responses:
        '200':
          description: The deleted account subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/transactions:
    get:
      operationId: listAccountTransactions
      summary: List all account transactions
      description: Returns a paginated list of transactions for the specified account. Results can be filtered by status and date range.
      tags:
        - Account Transactions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
      responses:
        '200':
          description: A paginated list of account transactions.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/transactions/{accTxnId}:
    get:
      operationId: retrieveAccountTransaction
      summary: Retrieve an account transaction
      description: Retrieves an account transaction by its unique identifier.
      tags:
        - Account Transactions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountTransactionIdParam'
      responses:
        '200':
          description: The requested account transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/updates:
    get:
      operationId: listAccountUpdates
      summary: List all account updates
      description: Returns a list of update records for the specified account.
      tags:
        - Account Updates
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account updates.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUpdateListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountUpdate
      summary: Create an account update
      description: Creates a new update request for the specified account.
      tags:
        - Account Updates
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: The newly created account update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/updates/{updateId}:
    get:
      operationId: retrieveAccountUpdate
      summary: Retrieve an account update
      description: Retrieves an account update by its unique identifier.
      tags:
        - Account Updates
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountUpdateIdParam'
      responses:
        '200':
          description: The requested account update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/verification_sessions:
    get:
      operationId: listAccountVerificationSessions
      summary: List all account verification sessions
      description: Returns a list of verification sessions for the specified account.
      tags:
        - Account Verification Sessions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account verification sessions.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerificationSessionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountVerificationSession
      summary: Create an account verification session
      description: Creates a new verification session for the specified account.
      tags:
        - Account Verification Sessions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerificationSessionCreateRequest'
      responses:
        '200':
          description: The newly created account verification session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerificationSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/verification_sessions/{avfId}:
    get:
      operationId: retrieveAccountVerificationSession
      summary: Retrieve an account verification session
      description: Retrieves an account verification session by its unique identifier.
      tags:
        - Account Verification Sessions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountVerificationSessionIdParam'
      responses:
        '200':
          description: The requested account verification session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerificationSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateAccountVerificationSession
      summary: Update an account verification session
      description: Updates an account verification session, typically to submit micro deposit amounts for verification.
      tags:
        - Account Verification Sessions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountVerificationSessionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerificationSessionUpdateRequest'
      responses:
        '200':
          description: The updated account verification session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerificationSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/verification_sessions/{avfId}/amounts:
    get:
      operationId: retrieveAccountVerificationSessionAmounts
      summary: Retrieve verification session amounts
      description: Retrieves the micro deposit amounts for a verification session.
      tags:
        - Account Verification Sessions
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/AccountVerificationSessionIdParam'
      responses:
        '200':
          description: The verification session amounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerificationSessionAmountsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /card_products/{product_id}:
    get:
      operationId: retrieveCardProduct
      summary: Retrieve a card product
      description: Returns a single card product by its identifier. Card products describe specific card programs from networks and issuers.
      tags:
        - Card Products
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - name: product_id
          in: path
          required: true
          description: Unique identifier for the card product.
          schema:
            type: string
      responses:
        '200':
          description: The requested card product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProductResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities:
    get:
      operationId: listEntities
      summary: List all entities
      description: Returns a paginated list of entities.
      tags:
        - Entities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
        - name: status
          in: query
          required: false
          description: Filter entities by status.
          schema:
            type: string
            enum:
              - active
              - incomplete
              - disabled
        - name: type
          in: query
          required: false
          description: Filter entities by type.
          schema:
            type: string
            enum:
              - individual
              - corporation
        - name: name
          in: query
          required: false
          description: Filter entities by their name.
          schema:
            type: string
        - $ref: '#/components/parameters/expand_entities'
      responses:
        '200':
          description: A list of entities.
          headers:
            Pagination-Page:
              description: Current page number.
              schema:
                type: integer
            Pagination-Page-Count:
              description: Total number of pages.
              schema:
                type: integer
            Pagination-Page-Limit:
              description: Number of items per page.
              schema:
                type: integer
            Pagination-Total-Count:
              description: Total number of items across all pages.
              schema:
                type: integer
            Pagination-Page-Cursor-Prev:
              description: Cursor for the previous page, if available.
              schema:
                type:
                  - string
                  - 'null'
            Pagination-Page-Cursor-Next:
              description: Cursor for the next page, if available.
              schema:
                type:
                  - string
                  - 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntity
      summary: Create an entity
      description: Creates a new entity.
      tags:
        - Entities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityRequest'
            examples:
              individual:
                summary: Create an individual entity
                value:
                  type: individual
                  individual:
                    first_name: Jane
                    last_name: Doe
                    phone: '+15125550123'
                    email: jane@example.com
                    dob: '1990-05-21'
                  address:
                    line1: 123 Main St
                    line2: null
                    city: Austin
                    state: TX
                    zip: '78701'
                  metadata:
                    customer_reference: ent-001
              corporation:
                summary: Create a corporation entity
                value:
                  type: corporation
                  corporation:
                    name: Example Holdings LLC
                    dba: Example Holdings
                    ein: '123456789'
                  address:
                    line1: 123 Main St
                    line2: null
                    city: Austin
                    state: TX
                    zip: '78701'
      responses:
        '200':
          description: The created entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponse'
              examples:
                individual:
                  summary: Individual entity
                  value:
                    success: true
                    data:
                      id: ent_au22b1fbFJbp8
                      type: individual
                      individual:
                        first_name: Jane
                        last_name: Doe
                        phone: '+15125550123'
                        dob: '1990-05-21'
                        email: jane@example.com
                      address:
                        line1: 123 Main St
                        line2: null
                        city: Austin
                        state: TX
                        zip: '78701'
                      verification:
                        identity:
                          verified: true
                          matched: true
                          latest_verification_session: evf_aBcDeFgHiJkLm
                          methods: []
                        phone:
                          verified: true
                          latest_verification_session: evf_nOpQrStUvWxYz
                          methods: []
                      connect: null
                      credit_score: null
                      attribute: null
                      vehicle: null
                      products:
                        - connect
                        - credit_score
                      restricted_products:
                        - attribute
                        - identity
                        - manual_connect
                        - vehicle
                      subscriptions: []
                      available_subscriptions:
                        - connect
                        - credit_score
                      restricted_subscriptions:
                        - attribute
                      status: active
                      error: null
                      metadata: null
                      created_at: '2024-12-05T10:05:21.742Z'
                      updated_at: '2024-12-05T10:11:17.823Z'
                    message: null
                corporation:
                  summary: Corporation entity
                  value:
                    success: true
                    data:
                      id: ent_bWxYzAbCdEfGh
                      type: corporation
                      corporation:
                        name: Example Holdings LLC
                        dba: Example Holdings
                        ein: '123456789'
                        owners: []
                      address:
                        line1: 123 Main St
                        line2: null
                        city: Austin
                        state: TX
                        zip: '78701'
                      status: active
                      error: null
                      metadata: null
                      created_at: '2024-12-03T17:08:05.455Z'
                      updated_at: '2024-12-03T17:08:05.455Z'
                    message: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}:
    get:
      operationId: retrieveEntity
      summary: Retrieve an entity
      description: Returns a single entity by its identifier.
      tags:
        - Entities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/expand_entities'
      responses:
        '200':
          description: The requested entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateEntity
      summary: Update an entity
      description: Updates an existing entity.
      tags:
        - Entities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityRequest'
            examples:
              individual:
                summary: Update an individual entity
                value:
                  individual:
                    phone: '+15125550124'
                    email: jane.doe@example.com
                  metadata:
                    crm_status: verified
              corporation:
                summary: Update a corporation entity
                value:
                  corporation:
                    dba: Example Finance
      responses:
        '200':
          description: The updated entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/attributes:
    get:
      operationId: listEntityAttributes
      summary: List all entity attributes
      description: Returns a list of attributes for the specified entity.
      tags:
        - Entity Attributes
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
      responses:
        '200':
          description: A list of entity attributes.
          headers:
            Pagination-Page:
              description: Current page number.
              schema:
                type: integer
            Pagination-Page-Count:
              description: Total number of pages.
              schema:
                type: integer
            Pagination-Page-Limit:
              description: Number of items per page.
              schema:
                type: integer
            Pagination-Total-Count:
              description: Total number of items across all pages.
              schema:
                type: integer
            Pagination-Page-Cursor-Prev:
              description: Cursor for the previous page, if available.
              schema:
                type:
                  - string
                  - 'null'
            Pagination-Page-Cursor-Next:
              description: Cursor for the next page, if available.
              schema:
                type:
                  - string
                  - 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttributeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntityAttributes
      summary: Create entity attributes
      description: Creates a new attribute retrieval for the specified entity.
      tags:
        - Entity Attributes
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/EntityIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  type: array
                  description: Specific attributes to request.
                  items:
                    type: string
      responses:
        '200':
          description: The created entity attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/attributes/{attrId}:
    get:
      operationId: retrieveEntityAttribute
      summary: Retrieve an entity attribute
      description: Returns a single entity attribute by its identifier.
      tags:
        - Entity Attributes
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/EntityAttributeIdParam'
      responses:
        '200':
          description: The requested entity attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/consent:
    post:
      operationId: updateEntityConsent
      summary: Update entity consent
      description: Grants or withdraws consent for the specified entity.
      tags:
        - Entity Consent
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityConsentRequest'
            example:
              type: withdraw
              reason: entity_withdrew_consent
      responses:
        '200':
          description: The updated entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/connect:
    get:
      operationId: listEntityConnects
      summary: List all entity connect sessions
      description: Returns a list of connect sessions for the specified entity.
      tags:
        - Entity Connects
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
        - $ref: '#/components/parameters/expand_entity_connects'
      responses:
        '200':
          description: A list of entity connect sessions.
          headers:
            Pagination-Page:
              description: Current page number.
              schema:
                type: integer
            Pagination-Page-Count:
              description: Total number of pages.
              schema:
                type: integer
            Pagination-Page-Limit:
              description: Number of items per page.
              schema:
                type: integer
            Pagination-Total-Count:
              description: Total number of items across all pages.
              schema:
                type: integer
            Pagination-Page-Cursor-Prev:
              description: Cursor for the previous page, if available.
              schema:
                type:
                  - string
                  - 'null'
            Pagination-Page-Cursor-Next:
              description: Cursor for the next page, if available.
              schema:
                type:
                  - string
                  - 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConnectListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntityConnect
      summary: Create an entity connect session
      description: Creates a new connect session for the specified entity.
      tags:
        - Entity Connects
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/expand_entity_connects'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  description: Products to request during the connect session.
                  items:
                    type: string
                subscriptions:
                  type: array
                  description: Subscriptions to request during the connect session.
                  items:
                    type: string
      responses:
        '200':
          description: The created entity connect session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConnectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/connect/{cxnId}:
    get:
      operationId: retrieveEntityConnect
      summary: Retrieve an entity connect session
      description: Returns a single entity connect session by its identifier.
      tags:
        - Entity Connects
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/EntityConnectIdParam'
        - $ref: '#/components/parameters/expand_entity_connects'
      responses:
        '200':
          description: The requested entity connect session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConnectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/credit_scores:
    get:
      operationId: listEntityCreditScores
      summary: List all entity credit scores
      description: Returns a list of credit scores for the specified entity.
      tags:
        - Entity Credit Scores
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
      responses:
        '200':
          description: A list of entity credit scores.
          headers:
            Pagination-Page:
              description: Current page number.
              schema:
                type: integer
            Pagination-Page-Count:
              description: Total number of pages.
              schema:
                type: integer
            Pagination-Page-Limit:
              description: Number of items per page.
              schema:
                type: integer
            Pagination-Total-Count:
              description: Total number of items across all pages.
              schema:
                type: integer
            Pagination-Page-Cursor-Prev:
              description: Cursor for the previous page, if available.
              schema:
                type:
                  - string
                  - 'null'
            Pagination-Page-Cursor-Next:
              description: Cursor for the next page, if available.
              schema:
                type:
                  - string
                  - 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCreditScoreListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntityCreditScore
      summary: Create an entity credit score
      description: Creates a new credit score retrieval for the specified entity.
      tags:
        - Entity Credit Scores
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/EntityIdParam'
      responses:
        '200':
          description: The created entity credit score.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCreditScoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/credit_scores/{crsId}:
    get:
      operationId: retrieveEntityCreditScore
      summary: Retrieve an entity credit score
      description: Returns a single entity credit score by its identifier.
      tags:
        - Entity Credit Scores
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/EntityCreditScoreIdParam'
      responses:
        '200':
          description: The requested entity credit score.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCreditScoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/identities:
    get:
      operationId: listEntityIdentities
      summary: List all entity identities
      description: Returns a list of identity records for the specified entity.
      tags:
        - Entity Identities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageLimitParam'
        - $ref: '#/components/parameters/PageCursorParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
      responses:
        '200':
          description: A list of entity identity records.
          headers:
            Pagination-Page:
              description: Current page number.
              schema:
                type: integer
            Pagination-Page-Count:
              description: Total number of pages.
              schema:
                type: integer
            Pagination-Page-Limit:
              description: Number of items per page.
              schema:
                type: integer
            Pagination-Total-Count:
              description: Total number of items across all pages.
              schema:
                type: integer
            Pagination-Page-Cursor-Prev:
              description: Cursor for the previous page, if available.
              schema:
                type:
                  - string
                  - 'null'
            Pagination-Page-Cursor-Next:
              description: Cursor for the next page, if available.
              schema:
                type:
                  - string
                  - 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIdentityListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntityIdentity
      summary: Create an entity identity
      description: Creates a new identity retrieval for the specified entity.
      tags:
        - Entity Identities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/idempotency_key'
        - $ref: '#/components/parameters/EntityIdParam'
      responses:
        '200':
          description: The created entity identity record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIdentityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/identities/{idnId}:
    get:
      operationId: retrieveEntityIdentity
      summary: Retrieve an entity identity
      description: Returns a single entity identity record by its identifier.
      tags:
        - Entity Identities
      security:
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/method_version'
        - $ref: '#/components/parameters/EntityIdParam'
[...]
